@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');


/* ガラスの奥側にある背景 */
.bg{
    position: relative;
    /* 背景画像のパスをここに */
    background-image: url(img/bgtest-min.jpg);
    background-size: cover;
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 文字 */
#portfolio{
    font-size: 150px;
    font-weight: bold;
    color: rgba(251, 251, 251, 0.411);
    -webkit-text-stroke: 2px rgba(253, 253, 253, 0.603);
    filter: blur(1px);
    font-family: 'Roboto Slab',"Heebo", sans-serif;
}

/* ガラスの質感 */
.glass{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    background-color: rgba(255, 255, 255, 0.109);
    border: 10px solid rgba(255, 255, 255, 0.411);
    border-bottom-color: rgba(255, 255, 255, 0.192);
    border-right-color: rgba(255, 255, 255, 0.212);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    box-shadow: 0 5px 20px rgba(255, 152, 79, 0.705);
    display: flex;
    justify-content: center;
    z-index: 1;
}

/* 中に入っていく液体 */
.glass::before{
    content: "";
    position: absolute;
    /* 液体の色 */
    background-color: rgba(0, 211, 211, 0.603);;
    top: 100%;
    bottom: 0;
    height: 0%;
    width: 100%;
    display: block;
    transition: 3.2s;
    transform:translateY(-100%);
    border-radius: 5px;
    z-index: -10;
    backdrop-filter: blur(1px);
    animation-delay: 1.5s;
}

#root{
    display: flex;
    flex-wrap: nowrap;
    color: white;
    background-color: white;
}

#headerBox{
    margin-top: 30px;
    margin-right: 30px;
}

.headerTxt{
    color: rgb(255, 255, 255);
    font-family: serif;
    font-weight: 900;
    margin-top: 40%;
    font-size: 30px;
    margin-right: 10px;
    margin-top: 10px;
    border: solid;
    border-radius: 10px;
    background-color: rgba(77, 77, 77, 0.411);

}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Yu Gothic',sans-serif;
    font-size: 20px;
}


h1{
    font-size: 3em;
    font-weight: bold;
    font-family: serif;
    text-align: center;
    margin-top: 50px;
}

.box{
    text-align: center;
    font-family: 'Yu Gothic',sans-serif;
}

/* コンセプト説明 */
#concept{
    font-size: 1.25em;
    margin-left: 2%;
    margin-right: 2%;
}

/* 各々のタイトル */
.subtitle{
    margin-top: 0%;
    text-align: center;
    margin-bottom: 3em;
    font-family: 'Yu Gothic',sans-serif;
}

.sImg{
    width: 200px;
    height: 200px;
    transition: 0.3s;
}

.sImg:hover{
    transform: translate(0,-10px) scale(1.2);
}

.creationMaster{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* 作った物の画像やタイトル */
.creation{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Yu Gothic',sans-serif;
}

/* 作ったもの１つの全体 */
.wideBox{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin-bottom: 100px;
    margin-left: 5%;
    justify-content: center;
    text-align: left;
}

/* 作った物の説明 */
.detail{
    font-size: 1.3em;
    margin-top: 2%;
    margin-left: 1%;
    width: 650px;
}

li{
    text-align: center;
}

.aboutBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.myImg{
    width: 300px;
    height: 300px;
}

.about{
    width: 900px;
    font-size: 1.2em;
    text-align: left;
    margin-right: 5px;
    margin-left: 5px;
}

.skillList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skillItem{
    display: flex;
    text-align: left;
}

.skillName{
    font-size: 1.5em;
    font-weight: bold;
}

.skillImg{
    width: 7.5em;
    margin-left: 5px;
    padding: 15px;
}

.skillText{
    width: 12em;
}

#aboutThis{
    text-align: center;
    font-family: 'Yu Gothic',sans-serif;
    font-size: 1.2em;
}

.link{
    color: rgb(39, 154, 248);
    font-weight: bold;
}

footer{
    margin-top: 40px;
    text-align: center;
    background-color: rgb(41, 41, 41);
    color: white;
    margin-bottom: 0;
}

/* 
@media screen and (max-width: 480px) {
    .wideBox{
        flex-wrap: wrap;
        text-align: center;
    }
    body{
        font-size: 15px;
    }
} */
