
#items {
    font-size: 60px;
}
#foo {
    color: red;
}

.nav-item{
    font-size: 20px;
    text-align: right;
    margin-right: 20px;
}

#loading{
    position: absolute;
    background:rgb(54, 54, 54);
    border-radius: 5px;
    width : 700px;
    height : 400px;
    z-index: 999999;
}

#loadingTxt{
    color: white;
    position: absolute;
    z-index: 1000000;
    top: 50%;
    font-size: 50px;
    display: block;
}

.items{
    margin-left: 2%;
    margin-top: 10em;
    font-size: 20px;
}

.info{
    margin-left: 2%;
    font-size: 16px;
}

footer{
    position: absolute;
    bottom: 0;
    font-size: 20px;
    text-align: center;
}