@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');





/* 注がれて満たされていくアニメーション */
@keyframes pourAnimate{
    100%{
        height: 100%;
    }
}

.glass:hover::before{
    animation-name: pourAnimate;
    animation-duration: 3.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

/* ガラスの奥側にある背景 */
/* .bg{
    背景画像のパスをここに
    background-image: url(img/bgtest.jpg);
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */