@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

/* 文字 */
#portfolio{
    font-size: 150px;
    font-weight: bold;
    color: rgba(251, 251, 251, 0.411);
    -webkit-text-stroke: 2px rgba(253, 253, 253, 0.603);
    filter: blur(1px);
    font-family: 'Roboto Slab',"Heebo", sans-serif;
}

/* 中に入っていく液体 */
.glass::before{
    content: "";
    position: absolute;
    /* 液体の色 */
    background-color: rgba(0, 211, 211, 0.603);;
    top: 100%;
    bottom: 0;
    height: 0%;
    width: 100%;
    display: block;
    transition: 3.2s;
    transform:translateY(-100%) ;
    border-radius: 5px;
    z-index: -10;
    animation-name: pourAnimate;
    animation-duration: 3.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    backdrop-filter: blur(1px);
    animation-delay: 1.5s;
}

/* 注がれて満たされていくアニメーション */
@keyframes pourAnimate{
    100%{
        height: 100%;
    }
}



/* ガラスの奥側にある背景 */
/* .bg{
    背景画像のパスをここに
    background-image: url(img/bgtest.jpg);
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */