/* しりとりのCSS */
a{
    text-decoration: none;
    text-decoration-line: none;
    color: rgb(32, 105, 241);
}

#title{
    position: relative;
    text-align: center;
    white-space: nowrap;
    font-family: "メイリオ","Meiryo"; font-weight: bold;
}

#send,#input,#restart,#surrender{
    border-radius: 10px;
}

#player{
    text-align: center;
    font-size: 30px;
}

#buttonbox{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#content{
    text-align: center;
    margin-left: 5%;
    margin-top: 30px;
    background-image: url(img/back.jpg);
    background-size: cover;
    width: 90%;
    height: 600px;
    border-radius: 10px;
}

.answer{
    position: relative;
    float:left;
    border-width: 2px;         /*枠線の太さ*/
    border-color:black;   /*枠線の色*/
    background:white;
    color: black;
    margin-left: 5%;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 10px;
    z-index: 1;
}

.answer:before {
    position: absolute;
    content: '';
    border: 4px solid transparent;
    border-right: 12px solid white;  /*三角の線になる部分*/
    top: 3px;
    left: -13px;
    transform: rotate(30deg);
    z-index: -1;
}

.playerAnswer{
    position: relative;
    text-align: right;
    border-width: 2px;         /*枠線の太さ*/
    border-color:black;   /*枠線の色*/
    background:rgb(49, 255, 49);
    color: black;
    margin-right: 5%; 
    font-size: 20px;
    border-radius: 10px;
    z-index: 1;
}

.playerAnswer:after {
    position: absolute;
    content: '';
    border: 4px solid transparent;
    border-left: 15px solid rgb(49, 255, 49);
    top: 10px;
    right: -16px;
    transform: rotate(-30deg);
    z-index: -1;
}

.playerAnswerNo{
    position: relative;
    text-align: right;
    border-width: 2px;         /*枠線の太さ*/
    border-color:black;   /*枠線の色*/
    background:rgb(49, 255, 49);
    color: black;
    font-size: 20px;
    border-radius: 10px;
    z-index: 1;
    margin: 0 0 0 auto;
    margin-right: 5%;  
}

.playerAnswerNo:after {
    position: absolute;
    content: '';
    border: 4px solid transparent;
    border-left: 15px solid rgb(49, 255, 49);
    top: 10px;
    right: -16px;
    transform: rotate(-30deg);
    z-index: -1;
}

.img{
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.imgR{
    position: relative;
    padding: 0;
    width: 30px;
    height: 30px;
    margin-top: 0%;
    margin: 0 0 0 auto;
    margin-right: 0;    
}

.box{
    display: flex;
}

.boxA{
    display: flex;
}