a{
    text-decoration: none;
    text-decoration-line: none;
    color: rgb(32, 105, 241);
}

#title{
    position: relative;
    /* margin-left: 50%;
    transform-origin: center;
    transform: translate(-50%,0); */
    text-align: center;
    white-space: nowrap;
}

img{
    margin-top: 20px;
    width: 50px;
    height: 50px;
}

.box{
    display: flex;
    justify-content: center;
}

header{
    text-align: center;
}

#home{
    margin-left: 10%;
}

#Astart{
    width: 100%;
}

main{
    position: relative;
    margin-left: 5%;
    text-align: center;
    transform-origin: center;
    transform: translate(0,0);
}

footer{
    position: relative;
    bottom: 0;
    font-size: 10px;
    text-align: center;
}